.task-s {
    padding: 10px;
    margin: 5px 0;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin-bottom: 20px; 
}

.container button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.container input,
.container select {
    padding: 10px;
    font-size: 16px;
}